.stack-work/
*~
convex-hull-exe.EXE.eventlog
wrandom_points.txt
stack-3.1.1.eventlog
wrandom_points2.txt
wrandom_points1m.txt
wrandom_points2m.txt
wrandom_points4m.txt
wrandom_points10m.txt
wrandom_points100k.txt